{% extends "base.html.twig" %}

{% block body %}
    <div class="container my-5">
        {{ form_start(form) }}
            {{ form_label(form.name, "Nom de la liste", {"label_attr": {"class": "p-2"}}) }}
            {{ form_row(form.name) }}
            {{ form_label(form.name, "Choisir la Couleur", {"label_attr": {"class": "p-2 mt-5"}}) }}
            {{ form_row(form.color) }}
            <input type="submit" value="Créer" class="btn btn-success mx-2 my-5" />
        {{ form_end(form) }}
    </div>
{% endblock %}