{% extends "base.html.twig" %}

{% block body %}
    <div class="container d-flex flex-wrap justify-content-center p-4">
        {% for todoList in todoLists %}
            <div class="card m-5" style="width: 18rem;">
                <h5 class="card-header" style="background-color: {{ todoList.color }};"></h5>
                <div class="card-body">
                    <h5 class="card-title">{{ todoList.name }}</h5>
                    <p class="card-text">
                        {% for task in todoList.tasks %}
                            <h6>{{ task.title }}</h6>
                        {% endfor %}
                    </p>
                    <div class="d-flex justify-content-between">
                        <a href="/update-list/{{ todoList.id }}" class="btn btn-warning">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="/delete-list/{{ todoList.id }}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}