{% extends "base.html.twig" %}

{% block body %}
    <div class="container d-flex flex-wrap justify-content-center p-4">
        {% for todoList in todoLists %}
            <div class="card m-5" style="width: 18rem;">
                <h5 class="card-header" style="background-color: {{ todoList.color }};"></h5>
                <div class="card-body">
                    <h5 class="card-title">{{ todoList.name }}</h5>
                    <div class="card-text mb-4">
                        {% for task in todoList.tasks %}
                        <div class="d-flex align-items-center">
                            <div class="my-3">
                                <a href="/update-task-status/{{ task.id }}" class="js-status">
                                    {% if task.completed %}
                                        <i class="fas fa-check-square"></i>
                                    {% else %}
                                        <i class="fas fa-square"></i>
                                    {% endif %}
                                </a>
                                <span class="h6 m-0">{{ task.title }}</span>
                            </div>
                            <div class="flex-grow-1 text-end">
                                <a href="/update-task/{{ task.id }}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="/delete-task/{{ task.id }}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="/create-task/{{ todoList.id }}" class="btn btn-success w-100">
                        <i class="fas fa-plus-square"></i>
                    </a>
                    <div class="d-flex justify-content-between mt-4">
                        <a href="/update-list/{{ todoList.id }}" class="btn btn-warning w-25">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="/delete-list/{{ todoList.id }}" class="btn btn-danger w-25">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        window.addEventListener("load", event => {
            document.querySelectorAll("a.js-status").forEach(link => {
                link.addEventListener("click", updateStatus);
            });
        });

        function updateStatus(event) {
            event.preventDefault();

            const checkIcon = this.querySelector("i.fas");

            axios.post(this.href).then(response => {
                if(checkIcon.classList.contains("fa-check-square")) {
                    checkIcon.classList.replace("fa-check-square", "fa-square");
                } else {
                    checkIcon.classList.replace("fa-square", "fa-check-square");
                }
            }).catch(error => {
                console.error(error);
                window.alert("Une erreur est survenue");
            });
        }
    </script>
{% endblock %}